# Grinstead and Snell's Introduction to Probability

## Python setup

In [3]:
import IPython.core.display as ICD
import pandas as pd
import random

pd.set_option('display.max_rows', 12)
pd.set_option('display.max_columns', None)

## Chapter 1 - Discrete probability distributions

### 1.1 Simulation of discrete probabilities

#### Example 1.1 (Random Number Generation)

The program `RandomNumbers` generates n random real numbers in the interval [0,1], where n is chosen by the user. When we ran the program with n = 20, we obtained the data shown below.

In [6]:
def RandomNumbers(n):
    if (not str(n).isdigit()) | (n < 0):
        raise ValueError('The n argument passed is not valid.')
    return [random.random() for x in range(0, n)]

In [9]:
RandomNumbers(20)

[0.59137822277211,
 0.5232656673730014,
 0.09614632293831615,
 0.49019270147486427,
 0.24587514194779236,
 0.7116239728420132,
 0.4095882527359803,
 0.9807729767052262,
 0.9607283519340121,
 0.08637633335896433,
 0.7049881885068712,
 0.26936074316716685,
 0.3466671831802671,
 0.6487665028783248,
 0.6002686466160473,
 0.6434675872399207,
 0.551542667693475,
 0.24704801902657147,
 0.06526608401958911,
 0.5289534263759927]

#### Example 1.2 (Coin Tossing) 

As we have noted, our intuition suggests that the probability of obtaining a head on a single toss of a coin is 1/2. To have the computer toss a coin, we can ask it to pick a random real number in the interval [0,1] and test to see if this number is less than 1/2. If so, we shall call the outcome heads; if not we call it tails. Another way to proceed would be to ask the computer to pick a random integer from the set {0,1}. The program `CoinTosses` carries out the experiment of tossing a coin n times. Running this program, with n = 20, resulted in:

THTTTHTTTTHTTTTTHHTT

Note that in 20 tosses, we obtained 5 heads and 15 tails. Let us toss a coin n times, where n is much larger than 20, and see if we obtain a proportion of heads closer to our intuitive guess of 1/2. The program `CoinTosses` keeps track of the number of heads. When we ran this program with n = 1000, we obtained 494 heads. When we ran it with n = 10000, we obtained 5039 heads.

We notice that when we tossed the coin 10,000 times, the proportion of heads was close to the “true value” .5 for obtaining a head when a coin is tossed. A mathematical model for this experiment is called Bernoulli Trials (see Chapter 3). The Law of Large Numbers, which we shall study later (see Chapter 8), will show that in the Bernoulli Trials model, the proportion of heads should be near .5, consistent with our intuitive idea of the frequency interpretation of probability. Of course, our program could be easily modiﬁed to simulate coins for which the probability of a head is p, where p is a real number between 0 and 1.

In [15]:
def CoinTosses(n):
    s_rand = pd.Series(RandomNumbers(n))
    s_out = s_rand.map(lambda x: 'T' if x < 0.5 else 'H')
    return ''.join(s_out.values.tolist())

In [46]:
var_test = CoinTosses(20)
print(var_test)
print('The number of heads:', len(var_test.replace('T', '')))
print('The number of tails:', len(var_test.replace('H', '')))
print('The final proportion, count(H) / count(runs):', len(var_test.replace('H', '')) / len(var_test))
print()
var_test = CoinTosses(100)
print(var_test)
print('The number of heads:', len(var_test.replace('T', '')))
print('The number of tails:', len(var_test.replace('H', '')))
print('The final proportion, count(H) / count(runs):', len(var_test.replace('H', '')) / len(var_test))
print()
var_test = CoinTosses(5000)
print(var_test[0:50], '...', sep='')
print('The number of heads:', len(var_test.replace('T', '')))
print('The number of tails:', len(var_test.replace('H', '')))
print('The final proportion, count(H) / count(runs):', len(var_test.replace('H', '')) / len(var_test))

THTTTHTTHTHTHTTHTHTH
The number of heads: 8
The number of tails: 12
The final proportion, count(H) / count(runs): 0.6

TTTHTTHTHTHHHHTHTTTHTTTTHHTTTHTHHHTTTTHHTTTTHTHTHTTTTTTTHTHHTTTTHTTHHTHTTHHHHTTTTHTHTTHHHHTHTTHTHTHH
The number of heads: 42
The number of tails: 58
The final proportion, count(H) / count(runs): 0.58

THHHHTHTHHHTHHHHTTTTTTTTTHHTTTHTTHHHHHHTTHTHHHHTTT...
The number of heads: 2539
The number of tails: 2461
The final proportion, count(H) / count(runs): 0.4922

#### Example 1.3 (Dice Rolling)

We consider a dice game that played an important role in the historical development of probability. The famous letters between Pascal and Fermat, which many believe started a serious study of probability, were instigated by a request for help from a French nobleman and gambler, Chevalier de M´ er´ e. It is said that de M´ er´ e had been betting that, in four rolls of a die, at least one six would turn up. He was winning consistently and, to get more people to play, he changed the game to bet that, in 24 rolls of two dice, a pair of sixes would turn up. It is claimed that de M´ er´ e lost with 24 and felt that 25 rolls were necessary to make the game favorable. It was un grand scandale that mathematics was wrong. 

We shall try to see if de M´ er´ e is correct by simulating his various bets. The program `DeMere1` simulates a large number of experiments, seeing, in each one, if a six turns up in four rolls of a die. When we ran this program for 1000 plays, a six came up in the ﬁrst four rolls 48.6 percent of the time. When we ran it for 10,000 plays this happened 51.98 percent of the time. We note that the result of the second run suggests that de M´ er´ e was correct in believing that his bet with one die was favorable; however, if we had based our conclusion on the ﬁrst run, we would have decided that he was wrong. Accurate results by simulation require a large number of experiments.

In [118]:
def DeMere1(n, die, roll_count):
    list_rand = [random.choice([1, 2, 3, 4, 5, 6]) for x in range(0, n * die * roll_count)]
    df_rand = pd.DataFrame(index=range(0, n * roll_count))
#     return list_rand
    for i in range(1, die + 1):
        df_rand['die_{}'.format(i)] = [list_rand[x] for x in range(0, len(list_rand)) if x % die == i - 1]
    df_rand['roll_num'] = [int(x / 4) + 1 for x in df_rand.index]
    return df_rand

In [119]:
df_test = DeMere1(10, 1, 4)

In [121]:
df_test.groupby('roll_num').apply(lambda x: 6 in x['die_1'].values)

roll_num
1     False
2      True
3     False
4     False
5      True
6     False
7      True
8     False
9      True
10     True
dtype: bool

In [122]:
df_test

    die_1  roll_num
0       4         1
1       4         1
2       1         1
3       2         1
4       6         2
5       5         2
6       3         2
7       4         2
8       4         3
9       2         3
10      3         3
11      3         3
12      1         4
13      2         4
14      2         4
15      1         4
16      1         5
17      3         5
18      6         5
19      3         5
20      3         6
21      1         6
22      3         6
23      4         6
24      5         7
25      6         7
26      4         7
27      3         7
28      2         8
29      2         8
30      1         8
31      1         8
32      6         9
33      5         9
34      2         9
35      1         9
36      1        10
37      1        10
38      6        10
39      1        10

In [66]:
def DeMere2(n):
    list_rand = [random.choice([1, 2, 3, 4, 5, 6]) for x in range(0, n * 2)]
    s_roll_one = pd.Series([list_rand[x] for x in range(0, len(list_rand)) if x % 2 == 0], name='roll_one')
    s_roll_two = pd.Series([list_rand[x] for x in range(0, len(list_rand)) if x % 2 == 1], name='roll_two')
    df_rolls = pd.concat([s_roll_one, s_roll_two], axis=1)
    return df_rolls

In [67]:
var_test = DeMere1(100)

In [68]:
var_test

    roll_one  roll_two
0          2         2
1          5         4
2          6         2
3          1         5
4          2         4
5          4         3
..       ...       ...
94         4         2
95         5         6
96         5         5
97         6         2
98         6         3
99         5         2

[100 rows x 2 columns]